{% extends "base/main.html" %}
{% load static %}

{% block title %} InterTech | Оновлення профілю {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/css/changeProfile.css' %}" />
{% endblock %}

{% block content %}
  <main class="change-profile">
    <form method="POST" class="change-profile--form">
      {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      {% endfor %}
      <input type="submit" value="Підтвердити" class="change-profile--submit" />
    </form>
  </main>
{% endblock %}

{% block scripts %}
  <script src="{% static 'base/js/form.js' %}"></script>
  <script src="{% static 'accounts/js/changeProfile.js' %}"></script>
{% endblock %}