main {
  flex-direction: column;
}

#cart-title {
  padding: 20px 0;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 800;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  text-align: center;
}

#commodities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.commodity:hover .delete-from-cart {
  display: inline-block;
}

.commodity {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  box-shadow: 0px 0px 8px black;
  overflow: hidden;
}

.delete-from-cart {
  position: absolute;
  right: 15px;
  top: 10px;
  display: none;
  font-size: 30px;
  font-weight: 700;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  transition: color 0.2s;
  cursor: pointer;
}

.delete-from-cart:hover {
  color: var(--lightblue);
}

.commodity-img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.commodity-title {
  display: -webkit-box;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 600;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  overflow: hidden;
}

.commodity-title:hover {
  text-decoration: underline;
}

.commodity-price {
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 16px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

#buy {
  align-self: center;
  width: 400px;
  margin-bottom: 20px;
  padding: 6px 0;
  border: none;
  background-color: var(--blue);
  font-size: 30px;
  text-align: center;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

#buy:hover {
  box-shadow: 4px 4px 5px var(--grey);
}

#empty-cart {
  align-self: center;
}

#empty-cart-img {
  height: 200px;
  margin-bottom: 20px;
}

#empty-cart-text {
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #commodities {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  #cart-title {
    font-size: 40px;
  }

  .delete-from-cart {
    display: inline-block;
    font-size: 24px;
  }

  .commodity-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  #commodities {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
  }

  #cart-title {
    font-size: 34px;
  }

  #buy {
    width: 240px;
    padding: 4px 0;
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  #commodities {
    grid-template-columns: 1fr 1fr;
  }
}
