body {
  background-color: var(--lightblue);
}

main {
  left: 20%;
  flex-direction: column;
  row-gap: 4px;
  width: 60%;
  min-height: calc(100vh - 70px);
  padding: 20px 40px;
  background-color: var(--white);
}

p,
caption,
th,
td {
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

i {
  -webkit-text-fill-color: var(--lightblue);
  color: var(--lightblue);
}

table {
  margin-top: 20px;
  background-color: var(--lightblue);
}

th,
td {
  background-color: var(--white);
}

@media screen and (max-width: 950px) {
  main {
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  main {
    left: 5%;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  main {
    left: 3%;
    width: 94%;
    padding: 10px 10px;
  }
}
