{% extends "base/main.html" %}
{% load static %}

{% block title %} InterTech | Кошик {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'base/css/cart.css' %}" />
{% endblock %}

{% block content %}
  <main class="cart">
    <h1 class="cart--title">Кошик</h1>

    {% if commodities %}
      <div class="cart--commodities">
        {% for commodity in commodities %}
          <div class="cart--commodity" data-id="{{ commodity.id }}" data-price="{{ commodity.price }}" data-quantity="1">
            <div class="cart--quantity-control">
              <button class="cart--decrease">&#8722;</button>
              <span class="cart--quantity-display">1</span>
              <button class="cart--increase">&#43;</button>
            </div>
            <a href="{% url 'base:delete-from-cart' commodity.id %}" class="cart--delete-from-cart">&#10005;</a>
            <img
              src="{{ commodity.picture }}"
              alt="{{ commodity.title }}"
              class="cart--commodity-img"
              draggable="false"
            />
            <a
              href="{% url 'base:commodity' commodity.category.id commodity.id %}"
              class="cart--commodity-title"
            >
              {{ commodity.title }}
            </a>
            <p class="cart--commodity-price">Ціна: {{ commodity.price }}₴</p>
          </div>
        {% endfor %}
      </div>

      <form method="POST" action="{% url 'purchase:pay' %}" class="cart--form">
        {% csrf_token %}
        <input type="hidden" name="ids" />
        <input type="hidden" name="quantities" />
        <button type="submit" class="cart--buy">Купити (<span class="cart--buy--price"></span>₴)</button>
      </form>
    {% else %}
      <div class="cart--empty">
        <img
          src="/static/base/images/empty_cart.png"
          alt="empty cart"
          class="cart--img-empty"
          draggable="false"
        />
        <h2 class="cart--text-empty">Кошик порожній</h2>
      </div>
    {% endif %}
  </main>
{% endblock %}

{% block scripts %}
  <script src="{% static 'base/js/form.js' %}"></script>
  <script src="{% static 'base/js/cart.js' %}"></script>
{% endblock %}
