{% extends "base/main.html" %}
{% load static %}

{% block title %} InterTech | Кошик {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'base/css/cart.css' %}" />
{% endblock %}

{% block content %}
  <h1 id="cart-title">Кошик</h1>

  <div id="commodities">
    {% for commodity in commodities %}
      <div class="commodity">
        <div class="delete-from-cart" data-commodity_id="{{ commodity.id }}">x</div>
        <img
          class="commodity-img"
          src="{{ commodity.picture }}"
          alt="{{ commodity.title }}"
          draggable="false"
        />
        <a
          class="commodity-title"
          href="{% url 'base:commodity' commodity.category.title commodity.id %}"
        >
          {{ commodity.title }}
        </a>
        <p class="commodity-price">Ціна: {{ commodity.price }}₴</p>
      </div>
    {% endfor %}
  </div>

  {% if commodities %}
    <a id="buy" href="{% url 'base:buy' %}">Купити</a>
  {% endif %}

  <div id="empty-cart"></div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'base/js/delete-from-cart.js' %}"></script>
{% endblock %}
