{% extends "base/main.html" %}
{% load static %}
{% load humanize %}

{% block title %} InterTech | {{ category.title|capfirst }} {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'base/css/category.css' %}" />
{% endblock %}

{% block content %}
  <main class="category">
    <h1 class="category--title">{{ category.title }}</h1>

    {% include "base/searchForm.html" %}

    <div class="category--filters">
      <h1 class="category--filters-title">Фільтри</h1>
      <form class="category--filter-form">
        <div class="category--manufacturers">
          {% for manufacturer_name in all_manufacturers %}
            <input
              type="checkbox"
              class="category--manufacturer-input"
              value="{{ manufacturer_name }}"
            />
            <label class="category--manufacturer-name">{{ manufacturer_name }}</label><br />
          {% endfor %}
        </div>
        <input class="category--filter" type="submit" value="Підтвердити" />
      </form>
    </div>

    {% include "base/commodities.html" %}
    {% include "base/pagination.html" %}
  </main>
{% endblock %}

{% block scripts %}
  <script>
    const selectedManufacturersStr = "{{ selected_manufacturers }}";
  </script>
  <script src="{% static 'base/js/addToCart.js' %}"></script>
  <script src="{% static 'base/js/form.js' %}"></script>
  <script src="{% static 'base/js/category.js' %}"></script>
{% endblock %}