{% extends "base/main.html" %}
{% load static %}
{% load humanize %}

{% block title %} InterTech | {{ commodity.title|capfirst }} {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'base/css/commodity.css' %}" />
{% endblock %}

{% block content %}
  {% include "base/catalogSidebar.html" %}

  <main>
    <div class="commodity--img-info-wrapper">
      <img
        src="{{ commodity.picture }}"
        alt="{{ commodity.title }}"
        class="commodity--img"
        draggable="false"
      />
      <div class="commodity--info">
        <h1 class="commodity--title">{{ commodity.title }}</h1>
        <p class="commodity--price">Ціна: {{ commodity.price|intcomma }}₴</p>
        <p class="commodity--desc">{{ commodity.description }}</p>
      </div>
    </div>

    {% include "base/comments.html" %}
  </main>
{% endblock %}
