{% extends "base/main.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'base/css/index.css' %}" />
{% endblock %}

{% block content %}
  {% include "base/catalogSidebar.html" %}
  <main>
    {% include "base/searchForm.html" %}
    {% include "base/commodities.html" %}
    {% include "base/pagination.html" %}
  </main>
{% endblock %}

{% block scripts %}
  <script src="{% static 'base/js/addToCart.js' %}"></script>
  <script src="{% static 'base/js/form.js' %}"></script>
  <script src="{% static 'base/js/index.js' %}"></script>
{% endblock %}