{% extends "base/main.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/css/signup-login.css' %}" />
{% endblock %}

{% block content %}
  <form id="signup-login-form" method="POST">
    {% csrf_token %} 
    {% for field in form %} 
      {{ field.label_tag }} 
      {{ field }}
      {{ field.errors }} 
    {% endfor %}
    <input type="submit" value="Підтвердити" />
    
    {% if login %}
      <p id="no-account">
        Немає акаунта?
        <a id="signup-link" href="{% url 'accounts:sign-up' %}">Зареєструватися</a>
      </p>
    {% else %}
      <p id="already-registered">
        Вже є акаунт?
        <a id="login-link" href="{% url 'accounts:login' %}">Ввійти</a>
      </p>
    {% endif %}
  </form>
{% endblock %}
