{% extends "base/main.html" %}
{% load static %}

{% block title %} InterTech | Мої платежі {% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'purchase/css/userPayments.css' %}" />
{% endblock %}

{% block content %}
  <main class="user-payments">
    <h1 class="user-payments--title">Мої платежі</h1>
  
    {% if payments %}
      <table class="user-payments--table">
        <thead>
          <tr>
            <th>ID Транзакції</th>
            <th>Дата та час</th>
            <th>Товари</th>
            <th>Сума (грн)</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
            <tr>
              <td>{{ payment.payment_id }}</td>
              <td>{{ payment.datetime }}</td>
              <td>
                <ul class="user-payments--commodities">
                  {% for commodity in payment.commodities %}
                    <li>{{ commodity.title }} ({{ commodity.quantity }})</li>
                  {% endfor %}
                </ul>
              </td>
              <td>{{ payment.total_price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="user-payments--no-records">Немає платежів</p>
    {% endif %}
  </main>
{% endblock %}