main {
  flex-direction: column;
}

/*----- CATALOGUE STYLING -----*/
#catalogue {
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 250px;
  height: calc(100vh - 70px);
  padding: 30px 20px;
  background-color: var(--lightblue);
  overflow: hidden;
}

#catalogue-link {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

#catalogue-link:hover {
  text-decoration: underline;
}

#catalogue-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  word-wrap: break-word;
  overflow: hidden;
  list-style-type: none;
}

.category {
  font-size: 24px;
  text-transform: capitalize;
}

.category:hover {
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  #catalogue {
    width: 200px;
    padding: 30px 10px;
  }

  #catalogue-links li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  #catalogue {
    display: none;
  }
}

/*----- COMMODITY INFO STYLING -----*/
#commodity-img-info-wrapper {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
  margin-left: 250px;
  padding: 20px;
  border-bottom: 4px solid var(--blue);
}

#commodity-img {
  width: 50%;
  height: 400px;
  object-fit: contain;
}

#commodity-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
}

#commodity-title {
  padding: 0 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 34px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  text-align: center;
}

#commodity-price {
  padding: 5px;
  border-top: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  font-size: 20px;
  font-style: italic;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

#commodity-desc {
  padding: 0 5px;
  font-size: 20px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

@media screen and (max-width: 950px) {
  #commodity-img-info-wrapper {
    column-gap: 5px;
    margin-left: 200px;
    padding: 10px;
  }

  #commodity-title {
    font-size: 24px;
  }

  #commodity-price {
    font-size: 16px;
  }

  #commodity-desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  #commodity-img-info-wrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  #commodity-img-info-wrapper {
    flex-direction: column;
    row-gap: 10px;
  }

  #commodity-img, #commodity-info {
    width: 100%;
  }
}

/*----- COMMENTS STYLING -----*/
#comments {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-left: 250px;
  padding: 20px;
}

#comments-title {
  font-family: 'Nunito', sans-serif;
  font-size: 34px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  text-align: center;
}

#leave-comment {
  align-self: flex-end;
  width: 200px;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  font-size: 16px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

#leave-comment:hover {
  box-shadow: 2px 2px 4px var(--grey);
}

#comment-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.7);
}

#comment-form-wrapper.active {
  display: flex;
}

#another-comment-form-wrapper {
  width: 60%;
}

#comment-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: var(--blue);
}

#comment-form-exit {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: none;
  font-size: 40px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  transition: color 0.2s;
  cursor: pointer;
}

#comment-form-exit:hover {
  -webkit-text-fill-color: var(--lightblue);
  color: var(--lightblue);
}

#evaluation-wrapper {
  width: 100%;
  font-size: 20px;
}

#evaluation-wrapper label {
  display: block;
}

#evaluation {
  width: 100%;
}

#tickmarks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  writing-mode: vertical-lr;
}

#comment-textarea {
  width: 100%;
  height: 250px;
  padding: 4px 10px;
  border: none;
  outline: none;
  background-color: var(--lightblue);
  font-size: 20px;
  resize: none;
}

#comment-textarea::placeholder {
  -webkit-text-fill-color: var(--white);
  color: var(--white);
}

#comment-textarea:focus {
  outline: 2px solid var(--white);
}

#send-comment {
  width: 100%;
  padding: 8px 20px;
  background-color: var(--white);
  font-size: 20px;
  font-weight: 500;
  -webkit-text-fill-color: var(--lightblue);
  color: var(--lightblue);
  transition: color 0.4s, background-color 0.4s;
  cursor: pointer;
}

#send-comment:hover {
  background-color: var(--lightblue);
  -webkit-text-fill-color: var(--white);
  color: var(--white);
}

.comment {
  display: flex;
  column-gap: 10px;
}

.author-img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  object-fit: contain;
}

.comment-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.author-name-pub-date-wrapper {
  display: flex;
  column-gap: 20px;
}

.author-name {
  font-size: 24px;
  font-weight: 500;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

.pub-date {
  font-style: italic;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

.comment-text {
  font-size: 18px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

#no-comments {
  font-size: 20px;
  font-style: italic;
  -webkit-text-fill-color: var(--grey);
  color: var(--grey);
  text-align: center;
}

@media screen and (max-width: 950px) {
  #comments {
    margin-left: 200px;
    padding: 10px;
  }

  #comments-title {
    font-size: 30px;
  }

  #another-comment-form-wrapper {
    width: 80%;
  }

  #comment-form {
    padding: 40px 30px;
  }

  .author-img {
    width: 60px;
    height: 60px;
  }

  .author-name {
    font-size: 20px;
  }

  .pub-date {
    font-size: 14px;
  }

  .comment-text {
    font-size: 16px;
  }

  #comment-form {
    width: 100%;
  }

  #no-comments {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  #comments {
    margin-left: 0;
  }

  #another-comment-form-wrapper {
    width: 95%;
  }

  #comment-form {
    padding: 20px 20px;
  }
  
  #evaluation-wrapper, #comment-textarea, #send-comment {
    font-size: 16px;
  }
}