.content {
  padding-left: 250px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.commodity--img-info-wrapper {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 4px solid var(--blue);
}

.commodity--img {
  width: 50%;
  height: 400px;
  object-fit: contain;
}

.commodity--info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
}

.commodity--title {
  padding: 0 5px;
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  text-align: center;
  text-transform: capitalize;
}

.commodity--price {
  padding: 5px;
  border-top: 3px solid var(--blue);
  border-bottom: 3px solid var(--blue);
  font-size: 20px;
  font-style: italic;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

.commodity--desc {
  padding: 0 5px;
  font-size: 20px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

@media screen and (max-width: 950px) {
  .content {
    padding-left: 200px;
  }

  .commodity--img-info-wrapper {
    column-gap: 5px;
    padding: 10px;
  }

  .commodity--title {
    font-size: 24px;
  }

  .commodity--price {
    font-size: 16px;
  }

  .commodity--desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .commodity--img-info-wrapper {
    flex-direction: column;
    row-gap: 10px;
  }

  .commodity--img,
  .commodity--info {
    width: 100%;
  }
}
