:root {
  --blue: navy;
  --lightblue: cornflowerblue;
  --white: white;
  --grey: grey;
  --lightgrey: lightgrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-text-fill-color: var(--white);
  color: var(--white);
  text-decoration: none;
}

.content {
  position: relative;
  display: flex;
  min-height: calc(100dvh - 70px);
}

.messages {
  position: fixed;
  left: 15%;
  top: 50px;
  z-index: 100;
  width: 70%;
  list-style-type: none;
  animation-name: messages;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
}

.message {
  padding: 12px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.message.error {
  background-color: rgba(255, 0, 0, 0.5);
}

.message.success {
  background-color: rgba(0, 255, 0, 0.5);
}

.message.info {
  background-color: rgba(0, 0, 255, 0.5);
}

.message.warning {
  background-color: rgba(255, 255, 0, 0.5);
}

@keyframes messages {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 750px) {
  .content {
    min-height: calc(100dvh - 50px);
  }

  .messages {
    left: 5%;
    width: 90%;
  }

  .message {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .message {
    font-size: 14px;
  }
}
