header {
  position: fixed;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background-color: var(--blue);
}

#brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

#header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

#nav-links {
  display: flex;
  align-items: center;
  height: 60%;
  list-style-type: none;
}

#nav-links li a {
  padding: 6px 20px;
  border: 1px solid var(--blue);
  font-size: 24px;
  transition: border 0.2s;
}

#nav-links li a:hover {
  border: 1px solid var(--white);
}

#hamburger-menu {
  display: none;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

#hamburger-menu span {
  width: 30px;
  height: 4px;
  background-color: var(--white);
}

@media screen and (max-width: 750px) {
  #header-nav {
    position: absolute;
    top: 70px;
    right: 0;
    width: 0%;
    height: auto;
    background-color: var(--lightblue);
    transition: width 1s;
  }

  #nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 30px;
    height: 100%;
    padding: 20px;
  }

  #nav-links li a {
    width: 100%;
    border: 1px solid var(--lightblue);
  }

  #hamburger-menu {
    display: flex;
  }

  #hamburger-menu span {
    transition: 0.4s;
  }

  #header-nav.active {
    width: 100%;
  }

  #hamburger-menu.active span:nth-child(1) {
    rotate: 45deg;
    transform: translateY(7px);
  }

  #hamburger-menu.active span:nth-child(2) {
    display: none;
  }

  #hamburger-menu.active span:nth-child(3) {
    rotate: -45deg;
    transform: translateY(-7px);
  }
}
