main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 250px;
  padding: 20px;
}

@media screen and (max-width: 950px) {
  main {
    margin-left: 200px;
  }
}

@media screen and (max-width: 750px) {
  main {
    margin-left: 0;
    padding: 15px;
  }
}
