{% extends "base/main.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'base/css/catalogue.css' %}" />
{% endblock %}

{% block content %}
  <h1 id="catalogue-title">Каталог</h1>
  <div id="categories">
    {% for category in categories %}
      <a href="{% url 'base:category' category.title %}">
        <div class="category">
          <div class="category-title-wrapper">
            <h2 class="category-title">{{ category.title }}</h2>
            <span class="category-title-underline"></span>
          </div>
          <img
            class="category-img"
            src="/media/{{ category.picture }}"
            alt="default"
            draggable="false"
          />
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
