body {
  background-color: var(--lightblue);
}

main {
  left: 20%;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: calc(100vh - 70px);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 0 10px black;
}

#password-changed-title,
#password-changed-message {
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  text-align: center;
}

@media screen and (max-width: 950px) {
  main {
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  main {
    left: 5%;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  main {
    left: 3%;
    width: 94%;
  }
}
