body {
  background-color: var(--lightblue);
}

main {
  left: 20%;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: calc(100vh - 70px);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 0 10px black;
}

form label {
  margin-top: 10px;
  font-size: 20px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

form input {
  padding: 4px 10px;
  border: none;
  outline: 2px solid var(--blue);
  font-size: 20px;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
}

form input:focus {
  outline: 2px solid var(--lightblue);
}

form input[type="submit"] {
  padding: 8px 20px;
  margin-top: 10px;
  background-color: var(--white);
  font-weight: 500;
  -webkit-text-fill-color: var(--blue);
  color: var(--blue);
  transition: color 0.2s, outline 0.2s;
  cursor: pointer;
}

form input[type="submit"]:hover {
  outline: 2px solid var(--lightblue);
  -webkit-text-fill-color: var(--lightblue);
  color: var(--lightblue);
}

form input[type="submit"]:focus {
  outline: none;
}

.errorlist li {
  -webkit-text-fill-color: red;
  color: red;
}

@media screen and (max-width: 950px) {
  main {
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  main {
    left: 5%;
    width: 90%;
  }

  form {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 500px) {
  main {
    left: 3%;
    width: 94%;
  }

  form label,
  form input {
    font-size: 16px;
  }
}
