body {
  background-color: var(--lightblue);
}

main {
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: calc(100vh - 70px);
  left: 20%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 40px 60px;
  box-shadow: 0 0 10px black;
}

#password-changed-title, #password-changed-message {
  color: var(--blue);
  text-align: center;
}

@media screen and (max-width: 950px) {
  main {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 750px) {
  main {
    width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 94%;
    left: 3%;
  }
}