body {
  background-color: var(--lightblue);
}

main {
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: calc(100vh - 70px);
  left: 20%;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 40px 60px;
  box-shadow: 0 0 10px black;
}

form label {
  font-size: 20px;
  color: var(--blue);
  margin-top: 10px;
}

form input {
  font-size: 20px;
  color: var(--blue);
  border: none;
  outline: 2px solid var(--blue);
  padding: 4px 10px;
}

form input:focus {
  outline: 2px solid var(--lightblue);
}

form input[type="submit"] {
  font-weight: 500;
  color: var(--blue);
  background-color: var(--white);
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.2s, outline 0.2s;
}

form input[type="submit"]:hover {
  color: var(--lightblue);
  outline: 2px solid var(--lightblue)
}

form input[type="submit"]:focus {
  outline: none;
}

.errorlist li {
  color: red;
}

@media screen and (max-width: 950px) {
  main {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 750px) {
  main {
    width: 90%;
    left: 5%;
  }

  form {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 500px) {
  main {
    width: 94%;
    left: 3%;
  }

  form label, form input {
    font-size: 16px;
  }
}